<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400">
            <h2>Stepper</h2>
            <form [formGroup]="form" (ngSubmit)="submit()" >
                <formly-form
                        [model]="model"
                        [fields]="fields"
                        [options]="options"
                        [form]="form">
                </formly-form>
            </form>
<!--            <br>-->
<!--            <br>-->
<!--            <hr style="border: 1px solid red;">-->
<!--            <h2>loadJSON</h2>-->
<!--            <app-registration-form></app-registration-form>-->
<!--            <br>-->
<!--            <br>-->
<!--            <hr style="border: 1px solid red;">-->
<!--            <h2>Class und Styles</h2>-->
<!--            <app-flex-form></app-flex-form>-->
<!--            <br>-->
<!--            <br>-->
<!--            <hr style="border: 1px solid red;">-->
<!--            <h2>JSON</h2>-->
<!--            <app-json-form></app-json-form>-->
        </div>



    </div>

</div>


<!--{{ jsonData | json }}-->


